@use "../abstracts/" as *;
@use "../base/" as *;
@use "../components/" as *;
@use "../layout/" as *;

$full-height-last: calc(100vh - var(--header-height) + $footer-edge-height);

.hero-section {
  position: relative;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "."
    "content"
    "button"
    ".";

  justify-content: center;
  align-content: center;

  color: white;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  letter-spacing: 0.055em;

  min-height: $full-height;

  h1 {
    color: $primary-yellow;
    font-family: $henny;
    font-size: 3rem;
    font-weight: normal;

    margin: 0;

    @include medium-device {
      font-size: 6rem;
    }
  }

  p {
    font-size: 1.5rem;
    font-family: $henny;

    @include medium-device {
      font-size: 3rem;
    }
  }

  .days-counter {
    font-size: 2rem;
    color: $primary-yellow;

    @include medium-device {
      font-size: 3rem * 1.5;
    }
  }
}

.hs-title-container {
  grid-area: content;
  margin-bottom: 10ch;
}

.hero-img {
  position: absolute;
  display: block;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-x: 80%;

  background-color: $text-primary;
  background-image: url("../images/hero-image.jpg");

  filter: brightness(50%) saturate(50%);

  z-index: -10;

  width: 100%;
  height: 100%;
}

// - Gallery section
.home-gallery-section {
  @include generic-section;
  background-color: $primary-green;
  background: $purple-500;

  padding: ($footer-edge-height + 1rem) 0;

  // Container for carousel-wrapper
  .home-gallery {
    transform: rotate(1deg);

    // Make home-gallery-section fit perfectly within the screen.
    // Only works of course up until max-height and width kick in.

    // 100vh - padding (up + down) - header-height.
    height: calc(100vh - #{$footer-edge-height + 1rem} * 2 - var(--header-height));

    width: 90vw;

    max-width: 1200px;
    max-height: 720px;

    @include xx-large-device {
      overflow: hidden;
    }

    /*
      Yes, I know that with the overwrites here, it sort of breaks parts of the
      carousel. For example, on clicking right, the left one immediately disappears,
      but I'm counting on nobody noticing or caring.
    */

    .carousel-items-container {
      overflow: visible;
      box-shadow: none;

      .carousel-item {
        box-shadow: $box-shadow-2;
      }
    }
  }
}

// - Home Info Section
.home-info-section {
  @include generic-section;

  padding-bottom: 2.5rem;
  h3 {
    color: $primary-purple;
  }

  p {
    max-width: 80ch;
    @include medium-device {
      margin: 1rem auto;
    }
  }

  @include large-device {
    text-align: left;
  }
}

// Sponsors Section
.home-sponsors-section {
  @include generic-section;

  h3 {
    margin-top: 0;
  }

  padding-top: 1.5rem + $footer-edge-height;
  padding-bottom: 1.5rem + $footer-edge-height;
  background: radial-gradient($green-100, $primary-green);
}

.sponsors-container {
  display: grid;
  gap: 1rem;
  justify-content: center;

  max-width: $max-width-desktop-larger;
  margin: 0 auto;

  @include large-device {
    grid-template-columns: repeat(auto-fit, 300px);
  }

  margin-bottom: 4rem;
}
