@use "../abstracts/" as *;
@use "../base/" as *;
@use "../components/" as *;
@use "../layout/" as *;

.media-page {
}

.pictures-section,
.videos-section {
  @include generic-section;
  min-height: $full-height;
  padding-top: $footer-edge-height + 1rem;
  padding-bottom: $footer-edge-height + 1rem;

  background: $green-gradient;

  overflow: initial;

  text-align: center;

  h2 {
    font-family: $pattaya;
    letter-spacing: 0.125em;
    font-weight: 400;
    font-size: 2rem;
    text-align: left;
  }
}

.pictures-section {
  .year-section {
    margin-top: 3rem;
  }
}

.videos-section {
  background: $yellow-gradient;
  padding-bottom: $footer-edge-height + 4rem;

  h2 {
    margin-bottom: 4rem;
  }
}

.videos-wrapper {
  .lightbox-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 1rem;
  }

  .lightbox-item {
    aspect-ratio: initial;
  }
}
