@use "../abstracts/" as *;
@use "../base/" as *;
@use "../components/" as *;
@use "../layout/" as *;

.media-page {
}

.pictures-section,
.videos-section {
  @include generic-section;
  min-height: $full-height;
  padding-top: $footer-edge-height + 1rem;
  padding-bottom: $footer-edge-height + 1rem;
  padding: ($footer-edge-height + 1rem) 1.5rem;

  background: $green-gradient;

  overflow: initial;

  text-align: center;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-family: $pattaya;
    letter-spacing: 0.125em;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }
}

.pictures-section {
  display: flex;
  flex-direction: column;

  padding-bottom: $footer-edge-height + 5rem;

  .lightbox-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;

    @include large-device {
      grid-template-columns: repeat(auto-fill, 200px);
    }
  }

  .bottom-ribbons-wrapper {
    // Flex on pictures-section introduces a 1px gap... for some reason.
    // Most likely chrome being chrome again.
    // This is here to cover offset it.
    bottom: -1px;
  }

  .year-section {
    margin: 0 auto;
    margin-top: 3rem;

    width: 100%;
    max-width: $max-width-desktop;

    &:nth-child(1n) {
      margin-top: 0;
    }
  }
}

.videos-section {
  background: $yellow-gradient;
  padding-bottom: $footer-edge-height + 4rem;

  .videos-section-content {
    max-width: $max-width-desktop-larger;
    margin: 0 auto;
  }
}

.videos-wrapper {
  .lightbox-grid {
    grid-template-columns: repeat(auto-fill, 300px);

    justify-content: center;
    gap: 1rem;

    .lightbox-item {
      @include xx-large-device {
        aspect-ratio: 16 / 9;
      }
    }
  }
}
