<!-- Carousel -->
<div class="carousel-wrapper">
  <div class="carousel-items-container">
    <!-- Carousel Item 1 -->
    <div class="carousel-item">
      <figure>
        <img src="" alt="" />
        <figcaption></figcaption>
      </figure>
    </div>

    <!-- Carousel Item 2 -->
    <div class="carousel-item">
      <figure>
        <img src="" alt="" />
        <figcaption></figcaption>
      </figure>
    </div>

    <!-- Carousel Item 3 -->
    <div class="carousel-item">
      <figure>
        <img src="" alt="" />
        <figcaption></figcaption>
      </figure>
    </div>

    <!-- Carousel Item 4 -->
    <div class="carousel-item">
      <figure>
        <img src="" alt="" />
        <figcaption></figcaption>
      </figure>
    </div>
  </div>
  <!-- Carousel Items Container end -->

  <div class="carousel-buttons">
    <button id="carousel-left-btn"><ion-icon name="chevron-back"></ion-icon></button>
    <button id="carousel-right-btn"><ion-icon name="chevron-forward"></ion-icon></button>
  </div>
</div>
<!-- Carousel end -->
