<div class="lightbox-wrapper">
  <div class="lightbox-grid">
    <div class="lightbox-item"></div>
    <div class="lightbox-item"></div>
    <div class="lightbox-item"></div>
    <div class="lightbox-item"></div>
  </div>
  <div class="lightbox-modal modal-closed" aria-expanded="false">
    <button class="lightbox-modal-close" aria-label="close popup">
      <ion-icon name="close-outline"></ion-icon>
    </button>
    <div class="lightbox-modal-content">
      <!-- Let JS put stuff here. -->
    </div>
  </div>
</div>
<!-- Lightbox end -->
