<div class="top-ribbons-wrapper">
  <div class="ribbons-shadow-container">
    <div class="top-ribbons-purple"></div>
  </div>
  <div class="ribbons-shadow-container">
    <div class="top-ribbons-yellow"></div>
  </div>
</div>
<!-- top-ribbons end -->

<div class="bottom-ribbons-wrapper">
  <div class="ribbons-shadow-container">
    <div class="bottom-ribbons-purple"></div>
  </div>
  <div class="ribbons-shadow-container">
    <div class="bottom-ribbons-yellow"></div>
  </div>
</div>
<!-- bottom-ribbons end -->
