@use "../abstracts/" as *;

body {
  display: flex;
  flex-direction: column;

  overflow: auto;
  min-height: 100vh;

  scroll-behavior: smooth;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: var(--header-height);
}

.purple {
  color: $primary-purple;
}

.d-none {
  display: none;
}

.content-container {
  max-width: $max-width-desktop-larger;
  margin: 0 auto;
}
