@use "../abstracts" as *;
@use "../base" as *;

// current font-size + margin top + bottom.
$header-min-height: calc(1em + 3rem);
$_header-box-shadow: $box-shadow-3;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  font-size: 1.25rem;
  background-color: $primary-yellow;

  box-shadow: $_header-box-shadow;

  z-index: 1000;

  @include large-device {
    display: flex;
    justify-content: center;
  }
}

.header-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  ul,
  li {
    display: contents; // Pretend that nav is the parent of the anchors
  }

  li a {
    position: relative;
    text-decoration: none;
    color: currentColor;
    font-weight: 500;

    border-top: 1px rgba($color: #000000, $alpha: 0.1) solid;
  }

  .btn-nav-current {
    text-decoration: underline;
  }

  li:first-child a {
    border: none;
  }

  min-height: $header-min-height;

  @include large-device {
    justify-content: space-between;
    width: 100%;
    margin: 0 1rem;

    max-width: 1920px;

    li a {
      border: none;
    }

    li:first-child a {
      margin-left: auto;
    }
  }
}

.img-logo-anchor {
  display: none;

  @include large-device {
    display: initial;
    line-height: 0;
    width: 4rem;
    margin-left: auto;

    &:hover {
      transform: scale(1.1) rotate(-2deg);
    }

    transition: transform ease 100ms;
  }

  .img-logo {
    width: 100%;
  }
}

.header-page-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-left: 1rem;
}

.nav-header {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 0;
  left: 0;

  transform: translateX(calc(-100% - 10px));

  background-color: $yellow-50;
  box-shadow: $_header-box-shadow;

  width: 100%;

  transition: transform ease 150ms;

  @include large-device {
    position: relative;
    transform: none;

    background: none;
    flex-direction: row;
    gap: 1rem;

    box-shadow: none;
  }
}

.nav-header-shown {
  transform: translateX(0);
}

$btn-nav-padding-x: 2rem;
$btn-nav-padding-y: 1.5rem;
.btn-nav {
  padding: $btn-nav-padding-y $btn-nav-padding-x;
  padding-bottom: 0;
}

.btn-nav-back {
  min-height: $header-min-height;
  width: fit-content;
}

.header-sect {
  display: flex;
  align-items: center;
  background-color: $primary-yellow;

  box-shadow: $_header-box-shadow;
}

// Hamburger-menu icon
.btn-header {
  color: $text-primary;
  background: none;
  border: none;

  // It should be centered, and line-height is throwing it out of whack.
  line-height: 0;

  margin-left: 1.5rem;

  ion-icon {
    border-radius: 99999px;
    padding: 0.25rem;
  }

  cursor: pointer;

  &:hover ion-icon,
  &:focus ion-icon {
    background-color: rgba($color: black, $alpha: 0.1);
  }

  &:active ion-icon {
    background-color: rgba($color: black, $alpha: 0.15);
  }
}

@include large-device {
  .btn-header,
  .btn-nav-back,
  .header-page-title {
    display: none;
  }
}

// Strips
// Inspiration taken from https://bethesda.net/en/game/starfield

.strips-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: $btn-nav-padding-y;
}

.rainbow-strip {
  display: none;
  @include large-device {
    display: block;
  }

  width: 10px;
  height: $btn-nav-padding-y / 1.5;

  transition: transform 100ms ease;
  transition-delay: calc(50ms * var(--strip-index, 0));
  transform-origin: 50% 100%;

  transform: scaleY(0);

  &:nth-child(1) {
    background-color: $primary-purple;
  }

  &:nth-child(2) {
    background-color: $primary-green;
  }

  &:nth-child(3) {
    background-color: $yellow-800;
  }

  &:nth-child(4) {
    background-color: #8494c4;
  }
}

.btn-nav:hover .rainbow-strip {
  transform: scaleY(1);
}
