@use "../abstracts/" as *;
@use "../base/" as *;

.youtube-container {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  box-shadow: $box-shadow-2;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.lightbox-item.presented .youtube-container {
  position: absolute;
  top: 50%;
  left: 50%;
}
